@charset "UTF-8";
@font-face {
  font-family: "Chalet-1960";
  src: url("../fonts/Chalet-LondonNineteenSixty/Chalet-LondonNineteenSixty.eot?#iefix") format("embedded-opentype"), url("../fonts/Chalet-LondonNineteenSixty/Chalet-LondonNineteenSixty.otf") format("opentype"), url("../fonts/Chalet-LondonNineteenSixty/Chalet-LondonNineteenSixty.woff") format("woff"), url("../fonts/Chalet-LondonNineteenSixty/Chalet-LondonNineteenSixty.ttf") format("truetype"), url("../fonts/Chalet-LondonNineteenSixty/Chalet-LondonNineteenSixty.svg#Chalet-LondonNineteenSixty") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Chalet-1980";
  src: url("../fonts/Chalet-NewYorkNineteenEighty/Chalet-NewYorkNineteenEighty.eot?#iefix") format("embedded-opentype"), url("../fonts/Chalet-NewYorkNineteenEighty/Chalet-NewYorkNineteenEighty.otf") format("opentype"), url("../fonts/Chalet-NewYorkNineteenEighty/Chalet-NewYorkNineteenEighty.woff") format("woff"), url("../fonts/Chalet-NewYorkNineteenEighty/Chalet-NewYorkNineteenEighty.ttf") format("truetype"), url("../fonts/Chalet-NewYorkNineteenEighty/Chalet-NewYorkNineteenEighty.svg#Chalet-NewYorkNineteenEighty") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Chalet-1920";
  src: url("../fonts/Chalet-1920/Chalet-LondonNineteenSixty.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Greenwich";
  src: url("../fonts/Greenwich-Medium/Greenwich-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Greenwich-Medium/Greenwich-Medium.woff") format("woff"), url("../fonts/Greenwich-Medium/Greenwich-Medium.ttf") format("truetype"), url("../fonts/Greenwich-Medium/Greenwich-Medium.svg#Greenwich-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Greenwich";
  src: url("../fonts/Greenwich-Regular/Greenwich-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Greenwich-Regular/Greenwich-Regular.woff") format("woff"), url("../fonts/Greenwich-Regular/Greenwich-Regular.ttf") format("truetype"), url("../fonts/Greenwich-Regular/Greenwich-Regular.svg#Greenwich-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Greenwich";
  src: url("../fonts/Greenwich-SemiBold/Greenwich-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Greenwich-SemiBold/Greenwich-SemiBold.woff") format("woff"), url("../fonts/Greenwich-SemiBold/Greenwich-SemiBold.ttf") format("truetype"), url("../fonts/Greenwich-SemiBold/Greenwich-SemiBold.svg#Greenwich-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight/MullerLight.svg#MullerLight") format("svg");
  font-weight: 300;
  font-style: normal; }
* {
  box-sizing: border-box;
  outline: none; }

html, body {
  position: relative;
  font-family: "Greenwich", Arial, sans-serif;
  color: #000000;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

body {
  background: #f6f6f6; }

ul {
  padding: 0; }

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease-out; }

a:hover,
a:focus {
  text-decoration: none;
  color: #cf5d66;
  outline: none; }

svg, svg path {
  transition: all 0.5s ease-out; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield;
  max-width: 64px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  text-align: center; }

.quantity-block {
  display: flex;
  align-items: center; }

.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  padding: 0 16px;
  font-family: "NeueMachina-Black", Arial, sans-serif; }

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid #cccccc;
  width: 100%;
  padding: 14px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.025em;
  font-family: "RobotoCondensed", Arial, sans-serif; }
  input[type="text"]::placeholder,
  input[type="password"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    font-family: "RobotoCondensed", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.025em;
    opacity: 0.6; }

.textarea {
  resize: none; }
  .textarea__wrapper {
    position: relative;
    margin-bottom: 20px; }

.form__row {
  position: relative;
  margin-bottom: 30px; }

.label {
  position: absolute;
  display: block;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.015em;
  font-family: "Chalet1960", Arial, sans-serif;
  top: 12px;
  transition: all 0.2s ease-out;
  left: 14px;
  opacity: 0.6;
  pointer-events: none; }

.form__row .input:focus ~ .label,
.form__row .input:valid ~ .label,
.form__row .input ~ .label.not-empty {
  font-size: 11px;
  letter-spacing: 0.05em;
  top: 1px;
  opacity: 1; }

label.error {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: #b8061f;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-family: "RobotoCondensed", Arial, sans-serif; }

.checkbox-custom:checked,
.checkbox-custom:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.checkbox-custom:checked + label,
.checkbox-custom:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  line-height: 20px;
  cursor: pointer; }

.checkbox-custom:checked + label,
.checkbox-custom:not(:checked) + label {
  padding-left: 30px; }

.checkbox-custom:checked + label:before,
.checkbox-custom:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  background-color: transparent; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: transparent; }

input[type="radio"]:checked + label:before {
  border-color: #cf5d66; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

.checkbox-custom:checked + label:after,
.checkbox-custom:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.checkbox-custom:checked + label:after,
.checkbox-custom:not(:checked) + label:after {
  left: 4px;
  top: 5px;
  width: 9px;
  height: 6px;
  background: url(../img/mark.png) no-repeat 50% 50%; }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cf5d66; }

.checkbox-custom:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0; }

.checkbox-custom:checked + label:after {
  opacity: 1; }

input[type="radio"]:checked + label:after {
  opacity: 1;
  background-color: #cf5d66; }

.checkbox-toggler {
  height: 0;
  width: 0;
  visibility: hidden;
  margin: 0; }

.checkbox-toggler__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  display: block;
  border-radius: 100px;
  position: relative; }

.checkbox-toggler__label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #cf5d66;
  border-radius: 90px;
  transition: 0.3s; }

.checkbox-toggler:checked + .checkbox-toggler__label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

.h1 {
  font-family: "Chalet-1980", Arial, sans-serif;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.015em;
  margin: 0;
  font-weight: 400; }
  @media (max-width: 767px) {
    .h1 {
      font-size: 24px; } }

.h2 {
  font-family: "Chalet-1960", Arial, sans-serif;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin: 0;
  font-weight: 400; }
  @media (max-width: 1439px) {
    .h2 {
      font-size: 24px; } }

.h3 {
  font-family: "Chalet-1980", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.015em;
  margin: 0 0 80px;
  padding: 0; }
  @media (max-width: 1439px) {
    .h3 {
      font-size: 32px;
      margin-bottom: 45px; } }

.container {
  width: 100%;
  max-width: 1710px;
  margin: 0 auto; }
  .container--right {
    margin: 0;
    margin-right: calc((100% - 1710px)/4);
    max-width: calc(1710px + ((100% - 1710px)/2)); }
  .container--left {
    margin: 0;
    margin-left: calc((100% - 1710px)/2);
    max-width: calc(1710px + ((100% - 1710px)/2)); }
    @media (max-width: 1749px) {
      .container--left {
        margin-left: auto;
        max-width: 1710px; } }
  .container--large {
    max-width: 1890px; }
    @media (max-width: 1900px) {
      .container--large {
        max-width: 1850px; } }
  @media (max-width: 1749px) {
    .container {
      padding: 0 3%; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 5%; } }

.ruble {
  position: relative;
  padding-right: 14px; }
  .ruble::after {
    content: "Р";
    position: absolute;
    top: 0;
    right: 0; }

.section__title {
  font-family: "Magistral-Book", Arial, sans-serif;
  font-size: 32px;
  line-height: 54px;
  letter-spacing: 0.07em; }

.page-title {
  padding: 50px 0 75px; }
  @media (max-width: 767px) {
    .page-title {
      padding: 20px 0; } }

.btn {
  display: inline-block;
  font-family: "Chalet-1960", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.105em;
  border: 1px solid #000000;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    background-color: #000000;
    color: #ffffff; }
  @media (max-width: 767px) {
    .btn {
      padding: 32px;
      border-radius: 0; } }
  .btn--black {
    background-color: #000000;
    color: #ffffff; }
    .btn--black:hover, .btn--black:focus {
      background-color: #cf5d66;
      color: #ffffff; }
  .btn--rose {
    background-color: #cf5d66;
    border-color: #cf5d66;
    color: #ffffff; }
    .btn--rose:hover, .btn--rose:focus {
      background-color: #000000;
      border-color: #000000;
      color: #ffffff; }
  .btn--disabled {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #ffffff;
    cursor: default;
    margin-bottom: 15px; }
    .btn--disabled:hover, .btn--disabled:focus {
      background-color: #e2e2e2;
      color: #ffffff; }
  .btn--transparent {
    background-color: transparent;
    border-color: #575757;
    color: #575757; }

.dropdown-menu {
  display: none; }

.animated-line {
  position: absolute;
  display: inline-block;
  background-color: rgba(211, 211, 211, 0.6);
  height: 1px; }

.d-flex {
  display: flex; }

.show-more {
  padding-bottom: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1199px) {
    .show-more {
      padding-bottom: 80px; } }
  @media (max-width: 767px) {
    .show-more {
      padding-bottom: 45px; } }
  .show-more__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .show-more__inner:hover .show-more__text, .show-more__inner:focus .show-more__text {
      color: #cf5d66;
      cursor: pointer; }
    .show-more__inner:hover .show-more__plus::after, .show-more__inner:hover .show-more__plus::before, .show-more__inner:focus .show-more__plus::after, .show-more__inner:focus .show-more__plus::before {
      background-color: #cf5d66;
      cursor: pointer; }
  .show-more__text {
    padding-right: 18px; }
  .show-more__plus {
    position: relative;
    width: 15px;
    height: 15px;
    transition: all 0.5s ease-out; }
    .show-more__plus::after, .show-more__plus::before {
      content: "";
      position: absolute;
      background-color: #000000; }
    .show-more__plus::after {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 15px; }
    .show-more__plus::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 15px;
      width: 1px; }

@keyframes animated-line {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.animated-line {
  animation: animated-line 1s ease-out 1s 1 forwards; }

.header {
  color: #424242; }
  .header--absolute {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2; }
  .header--white {
    color: #fff; }
    .header--white .header__nav-link {
      color: #ffffff; }
    .header--white .header__lang-link--active {
      color: #ffffff; }
    .header--white .header__phone-link {
      color: #ffffff; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px; }
  .header__block {
    display: flex;
    align-items: center; }
  .header__logo {
    margin-right: 140px; }
    @media (max-width: 1749px) {
      .header__logo {
        margin-right: 60px; } }
    @media (max-width: 767px) {
      .header__logo {
        width: 119px;
        height: 55px;
        object-fit: contain;
        margin-right: 20px; } }
  @media (max-width: 1199px) {
    .header__nav {
      display: none; } }
  .header__nav-link {
    color: #424242;
    margin-right: 50px;
    font-weight: 400; }
    @media (max-width: 1749px) {
      .header__nav-link {
        margin-right: 24px; } }
    .header__nav-link:last-child {
      margin-right: 0; }
  .header__lang {
    margin-right: 55px; }
    @media (max-width: 767px) {
      .header__lang {
        margin-right: 20px; } }
    .header__lang-link {
      color: #898989;
      font-weight: 400; }
      .header__lang-link--active {
        color: #424242; }
  @media (max-width: 767px) {
    .header__phone {
      display: none; } }
  .header__phone-link {
    color: #424242;
    font-family: "Chalet-1960", Arial, sans-serif;
    letter-spacing: 0.05em; }
  .header__burger {
    display: none;
    margin-left: 32px; }
    @media (max-width: 1199px) {
      .header__burger {
        display: block; } }
    @media (max-width: 767px) {
      .header__burger {
        margin-left: 0; } }

.main-slider__slide-inner {
  position: relative;
  height: 100vh; }
.main-slider__slide-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: cover; }
  @media (max-width: 1199px) {
    .main-slider__slide-pic {
      background-position: 50% 50%; } }
.main-slider__slide-text {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  color: #ffffff; }
.main-slider__slide-title {
  font-family: "Chalet-1960", Arial, sans-serif;
  font-size: 62px;
  line-height: 72px;
  letter-spacing: -0.01em;
  padding-bottom: 24px;
  max-width: 1200px; }
  @media (max-width: 1199px) {
    .main-slider__slide-title {
      font-size: 48px; } }
  @media (max-width: 1024px) {
    .main-slider__slide-title {
      font-size: 32px;
      line-height: 1.5; } }
  @media (max-width: 767px) {
    .main-slider__slide-title {
      font-size: 18px;
      line-height: 1.3; } }
.main-slider__slide-desc {
  font-size: 24px;
  max-width: 1100px;
  padding-bottom: 48px; }
  @media (max-width: 1024px) {
    .main-slider__slide-desc {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .main-slider__slide-desc {
      font-size: 14px;
      line-height: 1.3;
      padding-bottom: 16px; } }
.main-slider__slide-more {
  display: flex;
  align-items: center;
  white-space: nowrap; }
.main-slider__slide-link {
  color: #ffffff; }
  .main-slider__slide-link:hover, .main-slider__slide-link:focus {
    color: #ffffff;
    letter-spacing: 0.03em; }
.main-slider__slide-line-wrapper {
  width: 440px;
  height: 1px;
  position: relative;
  margin-left: 20px; }

.line-wrapper {
  width: 440px;
  height: 1px;
  position: relative;
  margin-left: 20px; }

.know-link:hover, .know-link:focus {
  color: inherit; }
.know-more {
  display: flex;
  align-items: center;
  white-space: nowrap; }
  .know-more--rose .know-link {
    color: #cf5d66; }
    .know-more--rose .know-link:hover, .know-more--rose .know-link:focus {
      color: #cf5d66; }
  .know-more--flexible .line-wrapper {
    width: calc(100% - 150px); }
  .know-more:hover .know-link, .know-more:focus .know-link {
    letter-spacing: 0.03em; }
  .know-more:hover .line-wrapper, .know-more:focus .line-wrapper {
    width: calc(100% - 130px); }

.about {
  position: relative;
  padding: 165px 0;
  background: url(../img/about-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .about {
      padding: 80px 0; } }
  .about-block__pic {
    width: 475px;
    display: block;
    object-fit: cover;
    border-radius: 50%; }
    .about-block__pic-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%; }
  .about-block__text {
    display: flex;
    height: 200px; }
  .about-block__num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 10;
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 172px; }
  .about-block__info {
    padding: 1rem;
    position: relative;
    height: 100%;
    color: #5e5e5e; }
    @media (max-width: 1199px) {
      .about-block__info {
        padding: 0;
        color: #000000; } }
    .about-block__info--active {
      color: #000000; }
    .about-block__info-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 110;
      padding: 60px 0; }
      @media (max-width: 1199px) {
        .about-block__info-wrapper {
          justify-content: flex-start;
          padding: 32px 0; } }
  .about-block__img {
    width: 475px;
    height: 475px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../img/about-1.png); }
    .about-block__img-wrapper {
      position: absolute;
      height: 475px;
      top: 350px;
      left: 50%;
      transform: translateX(-50%); }
      @media (max-width: 1199px) {
        .about-block__img-wrapper {
          display: none; } }
      .about-block__img-wrapper--active {
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%); }
      .about-block__img-wrapper--bottom {
        top: auto;
        bottom: 120px; }
  .about-block__slider {
    margin-left: 59%; }
    @media (max-width: 1199px) {
      .about-block__slider {
        margin-left: 0; } }
  .about-block__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    padding-bottom: 12px; }
    @media (max-width: 1199px) {
      .about-block__title {
        font-size: 20px;
        line-height: 1.5; } }
  .about-block__desc {
    font-size: 18px;
    line-height: 36px; }
  .about .h2 {
    max-width: 870px;
    padding-bottom: 50px; }
  .about .know-more {
    max-width: 565px; }

.services {
  background-color: #fff;
  margin: 0px;
  height: 900px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 1199px) {
    .services {
      height: 700px; } }
  @media (max-width: 767px) {
    .services {
      height: auto; } }
  .services__num {
    font-size: 14px;
    letter-spacing: -0.015em; }
    @media (max-width: 767px) {
      .services__num {
        display: none; } }
    .services__num-total {
      color: #d3d3d3;
      position: relative;
      display: inline-block;
      padding-right: 125px; }
      .services__num-total::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 85px;
        height: 1px;
        background-color: #d3d3d3; }

.services #tr_i {
  position: absolute;
  top: 0px;
  left: 0px; }

.services .container {
  height: 100%; }

.services .rows {
  display: flex;
  height: 100%; }
  @media (max-width: 767px) {
    .services .rows {
      flex-wrap: wrap; } }

.services .cols02 {
  max-width: 100%;
  overflow: auto;
  width: 100%;
  display: block; }
  .services .cols02::-webkit-scrollbar {
    display: none; }

.services .rows .cols .show_img {
  margin: 0px;
  padding: 0;
  height: 100%;
  position: relative;
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  z-index: 5; }
  @media (max-width: 767px) {
    .services .rows .cols .show_img {
      white-space: normal;
      width: 100%; } }

ul li {
  vertical-align: top; }

.services .rows .cols .show_img li {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 1199px) {
    .services .rows .cols .show_img li {
      width: 380px; } }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li {
      height: 200px;
      width: 100%;
      margin: 0 auto;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

.services .rows .cols .show_img li .slk {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none; }

.services .rows .cols .show_img li .txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(-90deg) translateY(-500px);
  transform-origin: 100% 100%;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 40px;
  width: 650px; }
  @media (max-width: 1199px) {
    .services .rows .cols .show_img li .txt {
      width: 540px;
      transform: rotate(-90deg) translateY(-350px); } }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .txt {
      transform: rotate(0deg) translateY(50px); } }

.services .rows .cols .show_img li .txt.txt01 {
  padding: 0px; }

.services .rows .cols .show_img li .slk:hover .txt {
  transition: all 0.3s ease 0s;
  transform: rotate(-90deg) translateY(-530px); }
  @media (max-width: 1199px) {
    .services .rows .cols .show_img li .slk:hover .txt {
      transform: rotate(-90deg) translateY(-380px); } }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .slk:hover .txt {
      transform: rotate(0deg) translateY(65px); } }

.services .rows .cols .show_img li .txt .h3 {
  height: 100%;
  display: block;
  color: #2c2c2b;
  font-family: "Chalet-1960", Arial, sans-serif;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: -0.015em;
  transition: all 0.3s ease 0s;
  text-align: left; }
  @media (max-width: 1199px) {
    .services .rows .cols .show_img li .txt .h3 {
      font-size: 24px;
      line-height: 1.5; } }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .txt .h3 {
      font-size: 18px; } }

.services .rows .cols .show_img li .txt.txt01 .h3 {
  margin: 0; }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .txt.txt01 .h3 {
      margin-left: 15px; } }

.services .rows .cols .show_img li .slk:hover .txt .h3 {
  color: white;
  transition: all 0.3s ease 0s; }

.services .rows .cols .show_img li .slk:hover .txt .services__num {
  color: white;
  transition: all 0.3s ease 0s; }

.services .rows .cols .show_img li .bim {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.services img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0px; }

.services .rows .cols .show_img li .bim img {
  display: block;
  position: absolute;
  bottom: 0px;
  top: 100%;
  margin: auto;
  width: auto;
  object-fit: cover;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }

.services .rows .cols .show_img li .bim.ifirst01 img {
  max-height: 672px;
  height: 672px;
  left: 50%;
  transform: translate3d(calc(-9% - 20px), -50%, 0px); }

.services .bim.ifirst01::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #c7515b;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: all 0.3s ease 0s; }

.service-blue .bim.ifirst01::after {
  background-color: #515cc7; }

.service-green .bim.ifirst01::after {
  background-color: #51c757; }

.service-yellow .bim.ifirst01::after {
  background-color: #c7a751; }

.services .rows .cols .show_img li .bim.ifirst01 img {
  max-height: 672px;
  height: 672px; }

.services .rows .cols .show_img li .slk:hover .bim.ifirst01 img {
  opacity: 1;
  transform: translate3d(-9%, -50%, 0px); }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .slk:hover .bim.ifirst01 img {
      transform: translate3d(55%, -50%, 0); } }

.services .rows .cols .show_img li .slk:hover .bim.ifirst01::after {
  opacity: 1; }

.services .rows .cols .show_img li .bim.ilast {
  left: 100%; }

.services .rows .cols .show_img li .bim.ilast img {
  left: -50%;
  transform: translate3d(calc(-9% - 40px), -50%, 0px); }

.services .rows .cols .show_img li .bim.ilast.ilast01 img {
  max-height: 672px;
  height: 672px; }

.services .rows .cols .show_img li .slk:hover .bim.ilast01 img {
  opacity: 1;
  transform: translate3d(-9%, -50%, 0px); }
  @media (max-width: 767px) {
    .services .rows .cols .show_img li .slk:hover .bim.ilast01 img {
      transform: translate3d(55%, -50%, 0); } }

.contragents {
  background-color: #f6f6f6;
  padding: 24px 0 210px; }
  @media (max-width: 1199px) {
    .contragents {
      padding-bottom: 80px; } }
  @media (max-width: 767px) {
    .contragents {
      padding-bottom: 45px; } }
  .contragents__inner {
    display: flex;
    justify-content: space-between;
    position: relative; }
    @media (max-width: 767px) {
      .contragents__inner {
        flex-wrap: wrap; } }
    .contragents__inner::after, .contragents__inner::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 80px;
      height: 100%;
      background-color: #fff; }
      @media (max-width: 1749px) {
        .contragents__inner::after, .contragents__inner::before {
          width: 15px; } }
      @media (max-width: 1439px) {
        .contragents__inner::after, .contragents__inner::before {
          content: none; } }
    .contragents__inner::after {
      right: -80px; }
      @media (max-width: 1749px) {
        .contragents__inner::after {
          right: -15px; } }
    .contragents__inner::before {
      left: -80px; }
      @media (max-width: 1749px) {
        .contragents__inner::before {
          left: -15px; } }
  .contragents__partner {
    background-color: #fff;
    padding: 130px 75px 40px;
    margin-right: 24px;
    width: 38%; }
    @media (max-width: 1439px) {
      .contragents__partner {
        padding: 80px 20px 36px; } }
    @media (max-width: 767px) {
      .contragents__partner {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        padding: 45px 20px 20px; } }
    .contragents__partner:first-child {
      padding-left: 0;
      width: 31%; }
      @media (max-width: 1439px) {
        .contragents__partner:first-child {
          padding-left: 20px; } }
      @media (max-width: 767px) {
        .contragents__partner:first-child {
          width: 100%; } }
    .contragents__partner:last-child {
      padding-right: 0;
      margin-right: 0;
      width: 31%; }
      @media (max-width: 1439px) {
        .contragents__partner:last-child {
          padding-right: 20px; } }
      @media (max-width: 767px) {
        .contragents__partner:last-child {
          width: 100%; } }
    .contragents__partner-pic {
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: contain;
      height: 164px;
      width: 100%;
      margin-bottom: 170px; }
      @media (max-width: 1439px) {
        .contragents__partner-pic {
          margin-bottom: 100px; } }
      @media (max-width: 767px) {
        .contragents__partner-pic {
          background-position: 50% 50%; } }
    .contragents__partner-name {
      font-family: "Chalet-1960", Arial, sans-serif;
      font-size: 34px;
      letter-spacing: -0.015em;
      line-height: 1.4;
      padding-bottom: 100px;
      max-width: 320px; }
      @media (max-width: 1749px) {
        .contragents__partner-name {
          font-size: 28px; } }
      @media (max-width: 1439px) {
        .contragents__partner-name {
          padding-bottom: 50px;
          font-size: 24px; } }
    .contragents__partner .know-link {
      color: #cf5d66; }

.projects__best {
  max-width: 580px;
  padding-bottom: 180px; }
  @media (max-width: 767px) {
    .projects__best {
      padding-bottom: 45px; } }
  .projects__best-title {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 45px;
    letter-spacing: -0.01em;
    line-height: 60px;
    padding-bottom: 50px; }
    @media (max-width: 767px) {
      .projects__best-title {
        font-size: 20px;
        line-height: 1.4; } }
.projects .know-link {
  color: #cf5d66; }
.projects__project {
  display: flex; }
  @media (max-width: 1024px) {
    .projects__project {
      flex-direction: column-reverse; } }
  .projects__project-info {
    width: 35%;
    padding: 160px 115px 45px 0; }
    @media (max-width: 1024px) {
      .projects__project-info {
        width: 100%;
        margin-top: 32px;
        padding: 0 0 32px; } }
  .projects__project-category {
    letter-spacing: -0.015em;
    color: #949494;
    padding-bottom: 70px; }
  .projects__project-title {
    font-family: "Chalet-1980", Arial, sans-serif;
    font-size: 120px;
    letter-spacing: -0.025em;
    padding-bottom: 35px;
    line-height: 1.1; }
    @media (max-width: 1439px) {
      .projects__project-title {
        font-size: 40px; } }
    @media (max-width: 767px) {
      .projects__project-title {
        font-size: 20px; } }
  .projects__project-desc {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.015em;
    min-height: 450px;
    padding-bottom: 50px; }
    @media (max-width: 1024px) {
      .projects__project-desc {
        min-height: 0; } }
    @media (max-width: 767px) {
      .projects__project-desc {
        font-size: 14px; } }
  .projects__project-img {
    width: 65%;
    background: radial-gradient(#f6f6f6, #d6d6d6);
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .projects__project-img {
        width: 100%; } }
  .projects__project-pic {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    @media (max-width: 1024px) {
      .projects__project-pic {
        width: 100%;
        height: 500px; } }
    @media (max-width: 767px) {
      .projects__project-pic {
        height: 400px; } }
    @media (max-width: 575px) {
      .projects__project-pic {
        height: 300px; } }

.articles {
  background-color: #fff;
  padding: 250px 0 340px; }
  @media (max-width: 1199px) {
    .articles {
      padding: 80px 0; } }
  @media (max-width: 767px) {
    .articles {
      padding: 45px 0; } }
  .articles__item {
    max-width: 420px;
    position: relative;
    height: 100%;
    padding-bottom: 90px; }
    @media (max-width: 1439px) {
      .articles__item {
        max-width: 350px; } }
    @media (max-width: 767px) {
      .articles__item {
        max-width: none; } }
  .articles__date {
    opacity: 0.3;
    font-family: "Chalet-1920", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.015em;
    padding-bottom: 90px; }
    @media (max-width: 767px) {
      .articles__date {
        font-size: 18px;
        padding-bottom: 20px; } }
  .articles__title {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.015em; }
    @media (max-width: 767px) {
      .articles__title {
        font-size: 20px; } }
  .articles .know-more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .articles .know-link {
    color: #cf5d66; }
    .articles .know-link:hover, .articles .know-link:focus {
      color: #cf5d66; }

.partners {
  padding-bottom: 205px;
  background-color: #fff; }
  @media (max-width: 1199px) {
    .partners {
      padding-bottom: 80px; } }
  @media (max-width: 767px) {
    .partners {
      padding-bottom: 45px; } }
  .partners__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .partners__pic {
    width: 20%;
    padding: 10px;
    margin-bottom: 60px; }
    @media (max-width: 1199px) {
      .partners__pic {
        width: 25%; } }
    @media (max-width: 1024px) {
      .partners__pic {
        width: 33%; } }
    @media (max-width: 767px) {
      .partners__pic {
        width: 50%;
        margin-bottom: 20px; } }
    @media (max-width: 575px) {
      .partners__pic {
        width: 100%; } }
  .partners__logo {
    width: 180px;
    object-fit: contain;
    height: 140px;
    margin-right: calc((100% - 900px)/4);
    margin-bottom: 60px; }
    .partners__logo:nth-child(5n + 5) {
      margin-right: 0; }
      @media (max-width: 1199px) {
        .partners__logo:nth-child(5n + 5) {
          margin-right: calc((100% - 720px)/3); } }
      @media (max-width: 1024px) {
        .partners__logo:nth-child(5n + 5) {
          margin-right: calc((100% - 540px)/2); } }
      @media (max-width: 767px) {
        .partners__logo:nth-child(5n + 5) {
          margin-right: calc(100% - 360px); } }
      @media (max-width: 500px) {
        .partners__logo:nth-child(5n + 5) {
          margin-right: auto; } }
    @media (max-width: 1199px) {
      .partners__logo:nth-child(4n + 4) {
        margin-right: 0; } }
    @media (max-width: 1024px) {
      .partners__logo:nth-child(4n + 4) {
        margin-right: calc((100% - 540px)/2); } }
    @media (max-width: 767px) {
      .partners__logo:nth-child(4n + 4) {
        margin-right: calc(100% - 360px); } }
    @media (max-width: 500px) {
      .partners__logo:nth-child(4n + 4) {
        margin-right: auto; } }
    @media (max-width: 1024px) {
      .partners__logo:nth-child(3n + 3) {
        margin-right: 0; } }
    @media (max-width: 767px) {
      .partners__logo:nth-child(3n + 3) {
        margin-right: calc(100% - 360px); } }
    @media (max-width: 500px) {
      .partners__logo:nth-child(3n + 3) {
        margin-right: auto; } }
    @media (max-width: 767px) {
      .partners__logo:nth-child(2n + 2) {
        margin-right: auto; } }
    @media (max-width: 1199px) {
      .partners__logo {
        margin-right: calc((100% - 720px)/3); } }
    @media (max-width: 1024px) {
      .partners__logo {
        margin-right: calc((100% - 540px)/2); } }
    @media (max-width: 767px) {
      .partners__logo {
        margin-right: calc(100% - 360px); } }
    @media (max-width: 500px) {
      .partners__logo {
        width: 260px;
        margin-right: auto;
        margin-left: auto; } }
  .partners .know-more {
    margin-top: 40px;
    max-width: 600px; }

.footer {
  color: #ffffff;
  background-color: #151515;
  padding: 95px 0 45px; }
  @media (max-width: 767px) {
    .footer {
      padding: 45px 0; } }
  .footer .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #575757;
    color: #ffffff; }
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px; }
    @media (max-width: 767px) {
      .footer__top {
        flex-direction: column-reverse;
        align-items: center; } }
  .footer__title {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.015em;
    max-width: 750px; }
    @media (max-width: 1439px) {
      .footer__title {
        font-size: 48px;
        line-height: 1.4; } }
    @media (max-width: 1024px) {
      .footer__title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .footer__title {
        margin-top: 16px; } }
  .footer__contragents {
    display: flex;
    padding-top: 20px; }
  .footer__contragent {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 50px;
    height: 30px;
    margin-right: 90px; }
    @media (max-width: 1024px) {
      .footer__contragent {
        margin-right: 30px; } }
    .footer__contragent:last-child {
      margin-right: 0; }
  .footer__middle {
    display: flex;
    align-items: center;
    padding-bottom: 110px; }
    @media (max-width: 1365px) {
      .footer__middle {
        flex-direction: column; } }
    @media (max-width: 767px) {
      .footer__middle {
        padding-bottom: 45px; } }
    .footer__middle .btn {
      height: 100%;
      padding-left: 45px;
      padding-right: 45px; }
      @media (max-width: 767px) {
        .footer__middle .btn {
          width: 100%;
          margin-top: 12px; } }
    .footer__middle .form__row {
      margin-bottom: 0;
      flex: 1;
      margin-right: 85px; }
      @media (max-width: 767px) {
        .footer__middle .form__row {
          margin-right: 0; } }
    .footer__middle .label {
      font-size: 36px;
      color: #2d2d2d;
      top: -8px; }
      @media (max-width: 767px) {
        .footer__middle .label {
          font-size: 16px;
          top: 12px; } }
  .footer__form {
    display: flex;
    width: 100%;
    max-width: 650px; }
    @media (max-width: 1365px) {
      .footer__form {
        max-width: none; } }
    @media (max-width: 767px) {
      .footer__form {
        flex-direction: column; } }
    .footer__form-wrapper {
      width: 50%;
      padding-right: 15px; }
      @media (max-width: 1365px) {
        .footer__form-wrapper {
          width: 100%;
          padding-right: 0; } }
  .footer__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .footer__nav {
        flex-direction: column; } }
    .footer__nav-wrapper {
      width: 50%; }
      @media (max-width: 1365px) {
        .footer__nav-wrapper {
          width: 100%;
          margin-top: 60px; } }
    .footer__nav-link {
      display: inline-block;
      color: #ffffff;
      font-family: "Chalet-1960", Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.165em;
      text-transform: uppercase; }
      @media (max-width: 1749px) {
        .footer__nav-link {
          font-size: 14px; } }
  .footer__contacts {
    padding-bottom: 130px;
    border-bottom: 1px solid #373737; }
    @media (max-width: 767px) {
      .footer__contacts {
        padding-bottom: 45px; } }
    .footer__contacts-inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      @media (max-width: 767px) {
        .footer__contacts-inner {
          flex-direction: column; } }
  .footer__contact {
    margin-right: 150px;
    width: 33%; }
    @media (max-width: 1365px) {
      .footer__contact {
        margin-right: 30px; } }
    @media (max-width: 767px) {
      .footer__contact {
        width: 100%;
        margin-bottom: 40px; } }
    .footer__contact:first-child .footer__address {
      max-width: 290px; }
    .footer__contact:last-child {
      margin-right: 0; }
    .footer__contact-link {
      color: #8a8a8a;
      font-family: "Chalet-1960", Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 0.03em;
      display: block;
      padding-bottom: 5px; }
  .footer__address {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    padding-bottom: 40px; }
    @media (max-width: 767px) {
      .footer__address {
        padding-bottom: 20px; } }
  .footer__bottom {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2d2d;
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.165em;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .footer__bottom {
        flex-direction: column;
        align-items: flex-start; } }
  .footer__developer {
    color: #ffffff; }

.partners-page {
  padding-bottom: 95px; }
  @media (max-width: 767px) {
    .partners-page {
      padding-bottom: 45px; } }
  .partners-page__flex {
    display: flex;
    flex-wrap: wrap; }
  .partners-page__partner {
    width: calc((100% - 20px)/3);
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 95px 50px;
    display: flex; }
    @media (max-width: 1749px) {
      .partners-page__partner {
        padding: 80px 30px; } }
    @media (max-width: 1439px) {
      .partners-page__partner {
        width: calc((100% - 10px)/2); } }
    @media (max-width: 1024px) {
      .partners-page__partner {
        width: 100%;
        margin-right: 0;
        justify-content: center; } }
    @media (max-width: 575px) {
      .partners-page__partner {
        flex-direction: column;
        align-items: center; } }
    .partners-page__partner:nth-child(3n + 3) {
      margin-right: 0; }
      @media (max-width: 1439px) {
        .partners-page__partner:nth-child(3n + 3) {
          margin-right: 10px; } }
      @media (max-width: 1024px) {
        .partners-page__partner:nth-child(3n + 3) {
          margin-right: 0; } }
    @media (max-width: 1439px) {
      .partners-page__partner:nth-child(2n + 2) {
        margin-right: 0; } }
    .partners-page__partner-pic {
      display: flex;
      align-items: center; }
      @media (max-width: 575px) {
        .partners-page__partner-pic {
          justify-content: center; } }
    .partners-page__partner-info {
      padding-left: 55px; }
      @media (max-width: 575px) {
        .partners-page__partner-info {
          text-align: center;
          padding-left: 0; } }
    .partners-page__partner-category {
      font-size: 14px;
      letter-spacing: -0.015em;
      padding-bottom: 16px;
      color: #999999; }
    .partners-page__partner-title {
      font-family: "Chalet-1960", Arial, sans-serif;
      font-size: 34px;
      letter-spacing: -0.015em;
      padding-bottom: 10px; }
      @media (max-width: 575px) {
        .partners-page__partner-title {
          font-size: 28px; } }
    .partners-page__partner-about {
      font-family: "Chalet-1960", Arial, sans-serif;
      font-size: 14px;
      letter-spacing: -0.015em; }

.articles-page__inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .articles-page__inner {
      padding-bottom: 45px; } }
.articles-page__block {
  width: calc((100% - 20px)/3);
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative; }
  @media (max-width: 1024px) {
    .articles-page__block {
      width: calc((100% - 10px)/2); } }
  @media (max-width: 767px) {
    .articles-page__block {
      width: 100%;
      margin-right: 0; } }
  .articles-page__block:nth-child(3n + 3) {
    margin-right: 0; }
    @media (max-width: 1024px) {
      .articles-page__block:nth-child(3n + 3) {
        margin-right: 10px; } }
    @media (max-width: 767px) {
      .articles-page__block:nth-child(3n + 3) {
        margin-right: 0; } }
  @media (max-width: 1024px) {
    .articles-page__block:nth-child(2n + 2) {
      margin-right: 0; } }
  .articles-page__block .articles__date {
    font-size: 24px; }
    @media (max-width: 767px) {
      .articles-page__block .articles__date {
        font-size: 16px; } }
  .articles-page__block .know-more {
    position: absolute;
    left: 70px;
    right: 70px;
    bottom: 40px; }
    @media (max-width: 767px) {
      .articles-page__block .know-more {
        left: 20px;
        right: 20px; } }
  .articles-page__block--commercial {
    background-color: #cf5d66;
    color: #ffffff;
    padding: 450px 70px 10px; }
    @media (max-width: 767px) {
      .articles-page__block--commercial {
        padding: 100px 20px 150px; } }
    .articles-page__block--commercial .know-link {
      color: #ffffff; }
  .articles-page__block-title {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 34px;
    letter-spacing: -0.015em; }
    @media (max-width: 1199px) {
      .articles-page__block-title {
        font-size: 28px; } }
    @media (max-width: 1024px) {
      .articles-page__block-title {
        font-size: 24px; } }
.articles-page .articles__item {
  position: static; }
  .articles-page .articles__item-pic {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .articles-page .articles__item-pic-wrapper {
      height: 470px;
      overflow: hidden; }
      @media (max-width: 767px) {
        .articles-page .articles__item-pic-wrapper {
          height: 300px; } }
  .articles-page .articles__item-text {
    padding: 80px 70px 0; }
    @media (max-width: 767px) {
      .articles-page .articles__item-text {
        padding: 45px 20px 0; } }
.articles-page .articles__date {
  padding-bottom: 28px; }
.articles-page .articles__title {
  padding-bottom: 70px; }

.portfolio__item {
  padding: 130px 70px 0; }
  @media (max-width: 767px) {
    .portfolio__item {
      padding: 45px 20px 0; } }
  .portfolio__item-pic {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain; }
    .portfolio__item-pic-wrapper {
      height: 135px;
      margin-bottom: 165px; }
      @media (max-width: 767px) {
        .portfolio__item-pic-wrapper {
          margin-bottom: 45px;
          height: 110px; } }
  .portfolio__item-name {
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 34px;
    letter-spacing: -0.015em;
    padding-bottom: 24px; }
    @media (max-width: 1199px) {
      .portfolio__item-name {
        font-size: 28px; } }
    @media (max-width: 1024px) {
      .portfolio__item-name {
        font-size: 24px; } }
  .portfolio__item-info {
    max-width: 260px;
    font-family: "Chalet-1960", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.015em;
    padding-bottom: 175px; }
    @media (max-width: 767px) {
      .portfolio__item-info {
        max-width: none; } }

/*# sourceMappingURL=styles.css.map */
